{% extends "base.html" %}

{% block title %}
base
{% endblock %}

{% block body %}

<h1>New event:</h1>
    <form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
        <p>
            {{ form.new_event_voivodeship.label }}
            {{ form.new_event_voivodeship(size=10) }}
        </p><p>
            {{ form.new_event_district.label }}
            {{ form.new_event_district(size=10) }}
        </p>
        <p>
            {{ form.new_event_community.label }}
            {{ form.new_event_community(size=20) }}
        </p>
        <p>
            {{ form.new_event_town.label }}
            {{ form.new_event_town(size=20)}}
        </p>
        <p>
            {{ form.new_event_street.label }}
            {{ form.new_event_street(size=20) }}
        </p>
        <p>
            {{ form.new_event_street_number.label }}
            {{ form.new_event_street_number(size=20) }}
        </p>
        <p>
            {{ form.new_event_type_of_emergency_services_needed.label}}
            {{ form.new_event_type_of_emergency_services_needed(size=20)}}
        </p>
        <p>
            {{ form.new_event_caller_telephone_number.label }}
            {{ form.new_event_caller_telephone_number(size=20) }}
        </p>
        <p>
            {{ form.new_event_caller_name.label }}
            {{ form.new_event_caller_name(size=20) }}
        </p>
        <p>
            {{ form.new_event_caller_surname.label }}
            {{ form.new_event_caller_surname(size=20) }}
        </p>
    </form>

{% endblock %}